.about {
  background-image: url(../imgs/image-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 100px 0px;
  border-radius: 20px;
  padding: 40px;
}

.about__title {
  font-size: 86px;
  color: var(--secondaryColor);
  font-weight: 600;
  padding: 50px 20px 10px;
  width: 400px;
}

.about__btns {
 padding: 20px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 display: block;
}

.about__btn {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 600;
  padding: 16px 26px;
  display: block;
  margin: 20px 0px;
  border-radius: 20px;
  transition: 0.5s;
  align-items: center;
  display: flex;
  gap: 10px;
}

.about__btn i {
  font-size: 20px;
}
.about__bottom__btn {
  background-color: rgb(172, 165, 165);
}

.about__bottom__btn:hover {
  box-shadow: inset 250px 0px white !important;
}

.about__btn:hover {
  box-shadow: inset 220px 0px rgb(172, 165, 165);
}

@media (max-width:1024px) {
  .about__section {
    width: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__title {
    font-size: 60px;
    width: 100%;
  }
}

@media (max-width:550px) {
  
  .about {
    padding: 0;
  }

  .about__title {
    font-size: 40px;
    width: 100%;
  }
}