body {
  background-color: var(--secondaryColor);
}

.header__dropdowns {
  display: flex;
  align-items: center;
  gap: 40px !important;
}

.dropdown{
  position: relative;
}

.dropdown p {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding: 2px 0px;
  font-weight: 500;
  font-size: 18px;
  color: var(--primaryColor);
}

.dropdown p:hover {
  border-bottom-color: var(--primaryColor);
}

.dropdown ul{
  position: absolute;
  left: 0;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  transform: translate(50px);
  background-color: var(--secondaryColor);
  box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.445);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 160px;
  transition: 0.4s;
  z-index: 333;
}

.dropdown ul li {
  border-bottom:2px solid transparent;
  padding: 1px 0px;
  color: var(--primaryColor);
}

.dropdown ul li:hover {
  border-bottom-color:var(--primaryColor);
}

.dropdown:hover .dropdown__list {
  opacity: 1;
  transform: translate(0);
  visibility: visible;
}

.dropdown__icon {
  font-size: 14px;
  display: inline-block;
  transition: 0.4s;
}

.dropdown:hover .dropdown__icon {
  transform: rotateX(180deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 999;
}


.show__header__shrink {
  padding: 15px 0;
  box-shadow: 0px 0px 10px var(--hoverColor);
  background: var(--secondaryColor);
}

.header__logo {
  width: 120px;
}

.header__logo img {
  width: 100%;
}

.header__right,
.header__list,
.header__btns {
  gap: 20px;
}

.header__dropdowns {
  display: flex;
  gap: 20px;
}

.header__btns__contact {
  padding: 15px 34px;
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  border-radius: 40px;
  font-size: 16px;
  transition: .5s;
  border: 1px solid var(--primaryColor);
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__btns__contact i {
  color: green;
}

.header__btns__contact:hover {
  box-shadow: inset 200px 0px var(--secondaryColor);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.header__search__btn {
  background-color: transparent;
  font-size: 20px;
}


.header__btns__hamburger {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;

}

.header__btns__hamburger span {
  width: 20px;
  height: 2.3px;
  background: var(--primaryColor);
  border-radius: 2px;
  transition: 0.4s;
}

.header__btns__hamburger:hover .header__btns__hamburger__line {
  background: var(--hoverColor);
}

.header__nav__right__btns__dark-mode {
  border: none;
  background: transparent;
  color: var(--darkModeColor);
  font-size: 18px;
}

.header__nav__right__btns__dark-mode .fa-sun {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-moon {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-sun {
  display: block;
}

@media (max-width: 1200px) {
  .header__dropdown {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: var(--secondaryColor);
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 15px var(--hoverColor);
    transition: 0.3s;
    z-index: 9999;
  }

  .header__btns {
    gap: 10px;
  }

  .header__btns__hamburger {
    display: flex;
  }

  .show__header__list {
    left: 0;
  }

  .header__list__close {
    display: block;
  }

  .header__btns__contact {
    display: none;
  }
}


